/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui/datepicker
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

* {
  outline: none;
}

input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9,30,66,.25);
  cursor: pointer;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  /*max-height: 1000px;*/
  white-space:nowrap;
  overflow: scroll;
  overscroll-behavior: none;
  background-image: url("/images/haikei.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  
}

h1 {
  display: block;
}

a:hover {
  color: red;
}

a {
  color: black;
}

iunput {
  width: 100%;
}

.modal-menu {
  display:none;
  width:50%;
	margin:1.5em auto 0;
	padding:10px 20px;
	border:2px solid #aaa;
	background:#fff;
	z-index:5;
}

.modal-menu-overlay {
	z-index:1;
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120%;
	background-color: rgba(0,0,0,0.75);
	width:100%;
	height:120%;
	position:fixed;
	top:0;
	left:0;
}

.container {
  display: block;
  padding-top: 10%;
}

.projects {
  display: flex;
  max-height: 100%;
}

.project-wrap {
  height: 100%;
  max-height: 550px;
  overflow-y: scroll;
  margin: 15px;
  min-width: 300px;
  z-index: 0;
  display: block;
  background-color: #ebecf1;
  border-radius: 3px;
  box-sizing: border-box;
  position: relative;
}

.contents-projects {
  height: 100%;
  display: flex;
  white-space:nowrap;
  overflow:scroll;
}

.project-tasks {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-height: 100%;
  margin-bottom: 20px;
  z-index: -1;
}

.title-archive {
  width: 100%;
  display:-webkit-flex;
  -webkit-justify-content: space-between;
  /*display:flex;*/
  justify-content: space-between;
  position: relative;
  
}

.project-title {
  flex: 0 0 auto;
  padding: 0 15px 15px 15px;
  z-index: 0;
  width: 70%;
  line-height: -0.5px;
  overflow-x: scroll;
  height: auto;
}

.archive-icon{
  z-index: 1;
  margin-right: 6%;
  margin-top: 18px;
  font-size: 1.2rem;
}

.archive-icon:hover .archive-message {
  display: inline;
}

.archive-message {
  
  position   :absolute;
  display: none;
  padding: 2px;
  color: black;
  box-shadow: 0 1px 0 rgba(9,30,66,.25);
  background-color:white;
  width:150px;
  top: 50px;
  left: 140px;
  font-size: 12px;
  text-align: center;
}

.destroy-button:hover  .delete-todo-message {
  display: inline;
}

.delete-todo-message{
  position   :absolute;
  display: none;
  padding: 2px;
  color: black;
  box-shadow: 0 1px 0 rgba(9,30,66,.25);
  background-color:white;
  width:115px;
  top: 75px;
  left: 160px;
  font-size: 12px;
  text-align: center;
}

.project-title　+ .project-tasks {
  overflow: scroll;
  overflow-x: hidden;  
}

.task-wrap {
  width: 90%;
  max-width: 300px;
  max-height: 100px;
  padding-left: 10px;
  margin: 10px 10px 20px 10px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9,30,66,.25);
  cursor: pointer;
  display: block;
  position: relative;
  z-index: 0;
  position: relative;
}

.task-wrap:hover {
  background-color: rgb(245 245 245);
}

.task-title {
  display: block;
}



.new-task {
  height: 20%;
  width: 80%;
  margin-top: 30%;
  text-align: center;
  position: inherit;
  bottom: 0;
}



.button {
  padding: 0 3px;
  text-decoration: none;
}

.text-color {
  color: black;
}

.root-path {
    text-align: center;
    padding: 30px 0;
}

.menu-contents {
    position: absolute;/*←絶対位置*/
    top: 0; /*下に固定*/
}

.task-link {
  overflow: scroll;
  overflow-x: hidden;
  margin-bottom: 10px;
}

.task-menu {
  padding-top: 5%;
  margin-left: 75%;
  margin-bottom: 5%;
  display: flex;
}

.task-title {
  text-decoration: none;
}

.task-form {
  height: 100%;
  width: inherit;
  max-width: inherit;
  max-height: 100%;
  padding: 0 10px 20px 10px;
  cursor: pointer;
  display: block;
  position: relative;
  z-index: 0;
  position: relative;
}

.new-task-form {
  width: inherit;
}

input[type="text"] {
  width: 97%;
  height: 25px;
  margin-bottom: 5px;
        }

input[type="date"] {
  height: 25px;
  margin: 5px 0;
}

input[type="time"] {
  height: 25px;
  margin: 5px 0;
}

textarea {
  width: 98%;
  height: 95px;
  margin: 5px 0;
}

.hide-window .hide-project-form{
  font-size: 1.2rem
}

.appear-window {
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 5px;
  
}

.appear-button {
  background-color: #ebecf1;
  border-radius: unset;
  box-shadow: unset;
  cursor: pointer;  
}

.appear-button:hover {
  background-color: rgb(210 210 210);
  border-radius: 3px;
}

.add-project-button {
  background-color: rgba(0,0,0,.08);
  margin: 15px;
  min-width: 300px;
}

.add-project-button:hover {
  background-color: rgba(0,0,0,.15);
  border-radius: 3px;
}

.new-project-form {
  display: block;
  max-height: 280px;
}

.project-form {
  height: 20%;
  width: inherit;
  min-width: 300px;
  max-height: 100%;
  padding: 20px 10px;
  margin: 15px;
  background-color: #ebecf1;
  cursor: pointer;
  display: block;
  position: relative;
  z-index: 0;
  position: relative;
  border-radius: 3px;
}

.new-project-form {
  width: inherit;
}
