/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  outline: none;
}

input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9,30,66,.25);
  cursor: pointer;
}

body {
  height: 100%;
  max-height: 1000px;
  white-space:nowrap;
  overflow:scroll; 
}

h1 {
  display: block;
}

a:hover {
  color: red;
}

a {
  color: black;
}

iunput {
  width: 100%;
}

.container {
  background-size:cover;
  display: block;
}

.projects {
  display: flex;
  max-height: 80%;
}

.project-wrap {
  height: 100%;
  max-height: 630px;
}

.contents-projects {
  height: 100%;
  display: flex;
  white-space:nowrap;
  overflow:scroll;
}

.project-tasks {
  height: 400px;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.project-wrap {
  overflow: scroll;
  margin: 15px;
  height: 40%;
  min-width: 300px;
  /*border: medium solid #ff00ff;*/
  /*white-space:nowrap;*/
  overflow:scroll;
  overflow-x: hidden;
  display: block;
  background-color: #ebecf1;
  border-radius: 3px;
  box-sizing: border-box;
  max-height: 100%;
}

.project-title {
  flex: 0 0 auto;
  padding: 0 15px 15px 15px;
  position: relative;
  height: 10px;
}

.project-tasks {
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
}

.task-wrap {
  width: 90%;
  max-width: 300px;
  max-height: 100px;
  padding-left: 10px;
  margin: 10px 10px 20px 10px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9,30,66,.25);
  cursor: pointer;
  display: block;
  position: relative;
  z-index: 0;
  position: relative;
}

.task-wrap:hover {
  background-color: rgb(245 245 245);
}

.task-title {
  display: block;
}

.new-task {
  height: 20%;
  width: 80%;
  margin-top: 30%;
  text-align: center;
  position: inherit;
  bottom: 0;
}



.button {
  padding: 0 3px;
  text-decoration: none;
}

.text-color {
  color: black;
}

.root-path {
    text-align: center;
    padding: 30px 0;
}

.menu-contents {
    position: absolute;/*←絶対位置*/
    top: 0; /*下に固定*/
}

.task-link {
  overflow: scroll;
  overflow-x: hidden;
  margin-bottom: 10px;
}

.task-menu {
  padding-top: 5%;
  margin-left: 65%;
  margin-bottom: 5%;
}

.task-title {
  text-decoration: none;
}

.task-form {
  height: 100%;
  width: inherit;
  max-width: inherit;
  max-height: 100%;
  padding: 0 10px 20px 10px;
  cursor: pointer;
  display: block;
  position: relative;
  z-index: 0;
  position: relative;
}

.new-task-form {
  width: inherit;
    
}

input[type="text"] {
  width: 97%;
  height: 25px;
  margin-bottom: 5px;
        }

input[type="date"] {
  height: 25px;
  margin: 5px 0;
}

input[type="time"] {
  height: 25px;
  margin: 5px 0;
}

textarea {
  width: 98%;
  height: 95px;
  margin: 5px 0;
}

.hide-window {
  font-size: 1.2rem
}

.appear-window {
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.appear-button {
  background-color: #ebecf1;
  border-radius: unset;
  box-shadow: unset;
  cursor: pointer;  
}

.appear-button:hover {
  background-color: rgb(220 220 220);
  border-radius: 3px;
}